# Archivos y carpetas generados automáticamente por Node.js y npm
node_modules/
.env
.env.local

# Build artifacts de Vite (frontend)
users-crud-react/dist/

# Ignorar carpetas de módulos para cada subproyecto
users-crud-react/node_modules/
users-crud-backend/node_modules/

# Archivos específicos de sistemas operativos
.DS_Store
Thumbs.db

# Logs y archivos temporales
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*